---
import StandardLayout from "../layouts/StandardLayout.astro";
import "../styles/global.css";

const identity = {
  firstName: "Rasib",
  country: "Pakistan",
  occupation: "Web Developer",
  hobbies: ["Reading", "Writing", "Coding"],
};

const skills = [
  "HTML",
  "CSS",
  "JavaScript",
  "React",
  "Astro",
  "Python",
  "Rust",
];

const pageTitle = "About Me";
---

<style>
  * {
    --hover: rgb(80, 80, 80);
  }

  .skill {
    color: var(--hover);
    font-weight: bold;
    text-transform: uppercase;
  }
</style>

<StandardLayout pageTitle={pageTitle}>
  <p>Here are a few facts about me:</p>
  <ul>
    <li>
      I am from {identity.country} and I work as a {identity.occupation}.
    </li>
    <li>
      Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}
    </li>
    <li>
      I like playing with different technology. My editor of choice is nvim with
      tmux.
    </li>
    <p>My skills are:</p>
    <ul>
      {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>
  </ul>
  <section class="tools">
    <h1>Extra: My dev setup</h1>
    <p>
      I use the following tools to be <em>blazingly fast</em> at what I do:
    </p>
    <ul class="tools-list">
      <li>nvim</li>
      <li>tmux</li>
      <li>endeavouros</li>
      <li>i3 window manager</li>
      <li>vimium</li>
      <li>Obsidian</li>
      <li>zsh</li>
      <li>firefox developer edition</li>
    </ul>
  </section>
</StandardLayout>

<style>
  .tools {
    margin-top: 2rem;
  }

  .tools-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .tools-list li {
    margin: 0.5rem;
    padding: 0.5rem;
    border: 1px solid var(--hover);
    border-radius: 0.5rem;
  }
</style>
