---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";

const identity = {
  firstName: "Rasib",
  country: "Pakistan",
  occupation: "Web Developer",
  hobbies: ["Reading", "Writing", "Coding"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];

const happy = true;
const finished = false;
const goal = 3;

const pageTitle = "About Me";

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<style define:vars={{ skillColor, fontWeight, textCase }}>
  .skill {
    color: var(--skillColor);
    font-weight: var(--fontWeight);
    text-transform: var(--textCase);
  }

  .caution-box {
    border: 2px solid black;
    background-color: yellow;
    border-radius: 5px;
    padding: 0.5rem;
  }
</style>

<BaseLayout pageTitle={pageTitle}>
  <div class="caution-box">
    <h3>Note! ⚠️</h3>
    <p>
      I am working through Astro's introductory tutorial. This is the second
      page on my website, and it's the first one I built one I built myself!
    </p>
    <p>
      This site will update as I complete more of the tutorial, so keep checking
      back and see how my journey is going!
    </p>
  </div>
  <p>Here are a few facts about me:</p>
  <ul>
    <li>
      I live in {identity.country} and I work as a {identity.occupation}.
    </li>
    <li>
      Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}
    </li>
    <li>
      I like like tinkering with technology; I use arch, i3, vim, tmux as my
      desktop enviroment.
    </li>
    <p>My skills are:</p>
    <ul>
      {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>
    {happy && <p>I am happy to be learning Astro!</p>}
    {finished && <p>finished this tutorial!</p>}
    {
      goal === 3 ? (
        <p>My goal is to finish in 3 days.</p>
      ) : (
        <p> My goal is not 3 days is not 3 days.</p>
      )
    }
  </ul>
</BaseLayout>
