---
const pageTitle = "Rasib's Portfolio";
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import Projects from "../components/home/Projects.astro";
import Technology from "../components/home/Technology.astro";

const identity = {
  firstName: "Rasib",
  country: "Pakistan",
  occupation: "Web Developer",
  company: "",
  hobbies: ["Reading", "Youtube", "Coding"],
};

const whoami = [
  "Arch user 🐧",
  "vim user ✨",
  "Bookworm 📚",
  "anime fan 🍿",
  "Game lover 🎮",
  "AI hater 🤖",
];

const interests = [
  "Web Development",
  "Natural Language Processing",
  "Open Source",
];

const lastInterest = interests.pop();
---

<BaseLayout pageTitle={pageTitle}>
  <div class="flex flex-col items-center h-screen">
    <main class="mb-auto">
      <div class="main-content-padding">
        <section class="about">
          <div class="about-content">
            <div class="about-text">
              <h1>
                Hey, I'm <span date-value="rasib" class="name">rasib</span>
              </h1>
              <h2 id="intro-subtext">
                {
                  `I am a ${identity.occupation} ${
                    identity.company === "" ? "" : "@"
                  }${identity.company} and`
                }
                <span id="other-occupation">{whoami[0]}</span>
              </h2>
              <p>
                I am a CS student from <a href="https://www.iba.edu.pk">IBA</a> who
                is passionate about making software engineering fun. Some of my interests
                are
                {
                  interests.map((interest) => (
                    <span class="interests">{interest},&nbsp;</span>
                  ))
                } and <span class="interests">{lastInterest}</span>.
              </p>
              <div
                style="display: flex;
                       justify-content: center;
                       item-align: center;"
              >
                <a role="button" class="more-button" href="/about"
                  >More about me 👀 ></a
                >
              </div>
            </div>
            <figure>
              <img
                alt="a picture of a cat coding using a laptop"
                class="codingcat"
                src="codingcat.gif"
              />
              <figcaption class="codingcat-caption">
                Here's a random cat that codes.
              </figcaption>
            </figure>
          </div>
        </section>
        <section>
          <h1>Projects</h1>
          <p>Here are some of my projects like you might like</p>
          <Projects />
          <div
            class=""
            style="display: flex;
                       justify-content: center;
                       item-align: center;"
          >
            <a role="button" class="more-button" href="/projects"
              >More projects 📚 ></a
            >
          </div>
        </section>

        <section class="tech">
          <h1>Things I can do</h1>
          <p>
            Here are the list of technologies that I can use to build you any
            website or app:
          </p>
          <Technology />
        </section>

        <section class="Testimonials">
          <h1>Testimonials</h1>
          <h2>Nice Things People Have Said</h2>
          <div>
            <p></p>
          </div>
        </section>

        <section class="contact">
          <h1>Get in touch</h1>
          <p>Want to work with me?</p>
          <div
            class=""
            style="display: flex;
                       justify-content: center;
                       item-align: center;"
          >
            <a class="more-button" href="mailto:m.nadeem.22976@khi.iba.edu.pk"
              >Leave a mail 💌>
            </a>
          </div>
        </section>
      </div>
    </main>

    <style>
      .about-content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        align-items: center;
      }

      .codingcat {
        border: 2px solid var(--ui-color);
        margin-top: 2rem;
        width: 100%;
        overflow: hidden;
      }

      .codingcat-caption {
        text-align: center;
        font-size: 0.9rem;
        font-style: italic;
      }

      .name::after {
        content: "⚡";
        font-size: 1.8rem;
      }

      .mb-auto {
        margin-bottom: auto;
      }

      .interests {
        font-weight: bold;
      }

      #other-occupation {
        transition: opacity 0.5s ease-in-out;
        display: inline-block;
        /* align left  */
        text-align: left;
      }

      .tools-list {
        font-family: monospace;
      }

      .more-button {
        padding: 0.4rem 0.8rem;
        border-radius: 0.5rem;
        margin-top: 1rem;
        background-color: black;
        color: var(--ui-comp-color);
        text-decoration: none;
        font-weight: bold;
        border: 1px solid var(--ui-color);
      }

      .more-button:hover {
        text-decoration: none;
        background-color: var(--button-hover);
      }
    </style>

    <!-- h2 animation -->
    <script define:vars={{ whoami }}>
      const other_occupation = document.querySelector("#other-occupation");

      let i = 1;

      function updateText() {
        if (i > whoami.length - 1) {
          i = 0;
        }

        other_occupation.style.opacity = 0;

        setTimeout(() => {
          other_occupation.textContent = whoami[i];
          other_occupation.style.opacity = 1;
          i++;
        }, 600);
      }

      setInterval(updateText, 3600);
    </script>
  </div>
</BaseLayout>
