---
const pageTitle = "I'm Rasib";
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import Projects from "../components/home/Projects.astro";
import Technology from "../components/home/Technology.astro";

const identity = {
  firstName: "Rasib",
  country: "Pakistan",
  occupation: "Web Developer",
  company: "",
  hobbies: ["Reading", "Youtube", "Coding"],
};

const whoami = [
  "Arch user 🐧",
  "vim user ✨",
  "Bookworm 📚",
  "anime fan 🍿",
  "Game lover 🎮",
  "AI hater 🤖",
];

const interests = [
  "Web Development",
  "Natural Language Processing",
  "Open Source",
];

const lastInterest = interests.pop();
---

<BaseLayout pageTitle={pageTitle}>
  <div class="flex flex-col items-center h-screen">
    <div class="heading-wrapper">
      <h1>Hey, I'm <span date-value="rasib!" class="name">rasib</span></h1>
      <h3 id="intro-subtext">
        {
          `I am a ${identity.occupation} ${identity.company === "" ? "" : "@"}${
            identity.company
          } and`
        }
        <span id="other-occupation">{whoami[0]}</span>
      </h3>
    </div>
    <main class="mb-auto">
      <div class="main-content-padding">
        <section class="about">
          <h2>About Me</h2>
          <p>
            I am a 4<sup>th</sup> year Computer Science student from the Institute
            of Business Administration (IBA) who is passionate about making software
            engineering fun. My interests are
            {
              interests.map((interest) => (
                <span class="interests">{interest},&nbsp;</span>
              ))
            } and <span class="interests">{lastInterest}</span>
          </p>
        </section>

        <section>
          <h2>My Projects</h2>
          <Projects />
        </section>

        <section class="tech">
          <h2>Things I can do</h2>
          <p>
            I like learning new programming languages, frameworks and tools
            (Currently learning <strong>go</strong>). I have worked with the
            following technologies:
          </p>

          <Technology />
        </section>

        <section class="tools">
          <h2>Tools I use</h2>
          <p>Here are some of the tools I use on a daily basis:</p>
          <ul class="tools-list">
            <li>nvim</li>
            <li>tmux</li>
            <li>endeavouros</li>
            <li>i3 window manager</li>
            <li>vimium</li>
            <li>Obsidian</li>
            <li>zsh</li>
            <li>firefox developer edition (for CSS)</li>
            <li>vivaldi (for everything else)</li>
          </ul>
        </section>
      </div>
    </main>
  </div>
</BaseLayout>
<style>
  .heading-wrapper {
    margin-left: 0.7cm;
    min-width: 12cm;
  }

  @media screen and (max-width: 500px) {
    .heading-wrapper {
      margin-left: 1rem;
      margin-right: 1rem;
      min-width: 0;
    }
    h1 {
      font-size: 2.85em;
    }
    .heading-wrapper h3 {
      margin-left: 0.4rem;
      margin-right: 0.4rem;
    } 
   }
  }

  .mb-auto {
    margin-bottom: auto;
  }

  .name {
  }

  .interests {
    font-weight: bold;
  }

  h3 {
    margin: 0;
  }

  #other-occupation {
    transition: opacity 0.5s ease-in-out;
    display: inline-block;
    /* align left  */
    text-align: left;
  }

  .tools-list {
    font-size: 1rem;
    font-family: monospace;
  }
</style>

<!-- h2 animation -->
<script define:vars={{ whoami }}>
const other_occupation = document.querySelector("#other-occupation");

let i = 1;

console.log(whoami);
function updateText() {
  if (i > whoami.length - 1) {
    i = 0;
  }

  other_occupation.style.opacity = 0;

  setTimeout(() => {
    other_occupation.textContent = whoami[i];
    other_occupation.style.opacity = 1;
    i++;
  }, 600);
}

setInterval(updateText, 3600);
</script>
