---
const pageTitle = "Rasib's Portfolio";
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import Projects from "../components/home/Projects.astro";
import Technology from "../components/home/Technology.astro";

const identity = {
  firstName: "Rasib",
  country: "Pakistan",
  occupation: "Web Developer / Designer",
  company: "",
  hobbies: ["Reading", "Youtube", "Coding"],
};

const whoami = [
  "Arch user 🐧",
  "vim user ✨",
  "Bookworm 📚",
  "anime fan 🍿",
  "Game lover 🎮",
  "AI hater 🤖",
];

const interests = [
  "Web Development",
  "Natural Language Processing",
  "Open Source",
];

const lastInterest = interests.pop();
---

<BaseLayout pageTitle={pageTitle}>
  <div class="flex flex-col items-center h-screen">
    <main class="mb-auto">
      <div class="px-4">
        <section class="flex flex-col min-h-screen justify-center" id=" about">
          <div class="grid items-center grid-template-col-about">
            <div>
              <h1 class="text-4xl font-bold">
                Hey, I'm <span date-value="rasib" class="name">rasib</span>
              </h1>
              <h2 class="font-mono text-lime-900">
                {
                  `I am a ${identity.occupation} ${
                    identity.company === "" ? "" : "@"
                  }${identity.company} and`
                }
                <span id="other-occupation">{whoami[0]}</span>
              </h2>
              <p class="text-neutral-800">
                I am a CS student from <a href="https://www.iba.edu.pk">IBA</a> who
                is passionate about coding and design.
                <!--
                Some of my interests
                are
                {
                  interests.map((interest) => (
                    <span class="interests">{interest},&nbsp;</span>
                  ))
                  } and <span class="interests">{lastInterest}</span>.
                -->
              </p>
              <div class="p-2"></div>
              <a
                role="button"
                class="bg-neutral-900 text-neutral-50 rounded-lg p-2 font-semibold hover:bg-neutral-800"
                href="/about">More about me 👀 ></a
              >
              <div class="p-2"></div>
            </div>
            <figure class="flex flex-col items-center">
              <img
                alt="a picture of a cat coding using a laptop"
                class="border border-gray-300 rounded-md shadow-md"
                width="400px"
                height="300px"
                src="codingcat.gif"
              />
              <figcaption class="text-center text-xs text-neutral-500">
                Here's a cat that codes to make you feel cozy.
              </figcaption>
            </figure>
          </div>
        </section>
      </div>
      <section class="flex flex-col pt-16 min-h-screen" id=" projects">
        <h1 class="text-2xl uppercase font-thin text-neutral-500">Projects</h1>
        <h2 class="font-semibold pb-2">Some of my work</h2>
        <p>Here are some of my projects like you might like</p>
        <Projects />
        <div class="flex justify-center itemindexs-center">
          <a
            role="button"
            class="bg-neutral-900 text-neutral-50 rounded-lg p-2 font-semibold hover:bg-neutral-800"
            href="/projects">More projects 📚 ></a
          >
        </div>
      </section>

      <section class="flex flex-col pt-16 min-h-screen" id="skills">
        <h1 class="text-2xl uppercase font-thin text-neutral-500">Skills</h1>
        <h2 class="font-semibold pb-2">Things I can do</h2>
        Here are the list of technologies that I can use to build you any website
        or app:
        <Technology />
      </section>

      <section class="flex flex-col pt-16 min-h-screen" id="testimonials">
        <h1 class="text-2xl uppercase font-thin text-neutral-500">
          Testimonials
        </h1>
        <h2 class="font-semibold pb-2">Nice Things People Have Said</h2>
        <div>
          <p></p>
        </div>
      </section>

      <section class="flex flex-col pt-16 min-h-screen" id="contact">
        <h1 class="text-2xl uppercase font-thin text-neutral-500">CONTACT</h1>
        <h2 class="font-semibold pb-2">Let's work together</h2>
        <p class="pb-2">You can contact me through at:</p>
        <div class="flex flex-col gap-2 items-center px-16">
          <a
            class="bg-neutral-900 block w-[100%] text-center text-neutral-50 rounded-lg py-2 px-16 font-semibold hover:bg-neutral-800"
            href="mailto:m.nadeem.22976@khi.iba.edu.pk"
          >
            Leave a mail 💌>
          </a>
          <a
            class="bg-neutral-900 text-neutral-50 block w-[100%] text-center rounded-lg py-2 font-semibold hover:bg-neutral-800"
            href={`https://www.github.com/Rasib0`}>Github ></a
          >
          <a
            class="bg-neutral-900 block w-[100%] text-neutral-50 text-center rounded-lg py-2 font-semibold hover:bg-neutral-800"
            href={`https://www.linkedin.com/in/muhammad-rasib-nadeem`}
            >LinkedIn ></a
          >
        </div>
      </section>
    </main>
  </div>
</BaseLayout>

<style>
  .grid-template-col-about {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .name::after {
    content: "⚡";
    font-size: 1.8rem;
  }

  .interests {
    font-weight: bold;
  }

  #other-occupation {
    transition: opacity 0.5s ease-in-out;
    display: inline-block;
    /* align left  */
    text-align: left;
  }

  .tools-list {
    font-family: monospace;
  }

  .intro-subtext {
    font-size: 24px;
    font-family: monospace;
    margin: 0px 0px 8px 0px;
  }
</style>
<script define:vars={{ whoami }}>
const other_occupation = document.querySelector("#other-occupation");

let i = 1;

function updateText() {
  if (i > whoami.length - 1) {
    i = 0;
  }

  other_occupation.style.opacity = 0;

  setTimeout(() => {
    other_occupation.textContent = whoami[i];
    other_occupation.style.opacity = 1;
    i++;
  }, 600);
}

setInterval(updateText, 3600);
</script>
