---
const pageTitle = "Hi, I'm Rasib";
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import Projects from "../components/home/Projects.astro";
import Technology from "../components/home/Technology.astro";

const identity = {
  firstName: "Rasib",
  country: "Pakistan",
  occupation: "Web Developer",
  company: "nowhere",
  hobbies: ["Reading", "Youtube", "Coding"],
};

const interests = [
  "Web Development",
  "Natural Language Processing",
  "Open Source",
];

const lastInterest = interests.pop();
---

<BaseLayout pageTitle={pageTitle}>
  <div class="flex flex-col items-center h-screen">
    <h1>{pageTitle}</h1>
    <h3>{identity.occupation} @{identity.company}</h3>
    <main class="mb-auto">
      <div class="main-content-padding">
        <p>
          Welcome to my little corner of the web! I am a 4<sup>th</sup> year Computer
          Science student from the Institute of Business Administration (IBA) who
          is passionate about software engineering. I am interested in
          {
            interests.map((interest) => (
              <span class="interests">{interest},&nbsp;</span>
            ))
          } and <span class="interests">{lastInterest}</span>
        </p>
        <h2>Projects</h2>
        <Projects />
        <h2>Technologies</h2>
        <p>
          I like learning new programming languages, frameworks and tools. I
          have worked with the following technologies:
        </p>
        <Technology technologies={technologies} />
      </div>
    </main>
  </div>
</BaseLayout>

<style>
  .mb-auto {
    margin-bottom: auto;
  }
  .interests {
    font-weight: bold;
  }
</style>
