---
const pageTitle = "Hi 👋, I'm Rasib!";
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import Projects from "../components/home/Projects.astro";
import Technology from "../components/home/Technology.astro";

const identity = {
  firstName: "Rasib",
  country: "Pakistan",
  occupation: "Web Developer",
  company: "nowhere",
  hobbies: ["Reading", "Youtube", "Coding"],
};

const interests = [
  "Web Development",
  "Natural Language Processing",
  "Open Source",
];

const lastInterest = interests.pop();
---

<BaseLayout pageTitle={pageTitle}>
  <div class="flex flex-col items-center h-screen">
    <h1>{pageTitle}</h1>
    <h3>{identity.occupation} @{identity.company}</h3>
    <main class="mb-auto">
      <div class="main-content-padding">
        <section>
          <h2>About Me</h2>
          <p>
            Welcome to my little corner of the web! I am a 4<sup>th</sup> year Computer
            Science student from the Institute of Business Administration (IBA) who
            is passionate about making software engineering fun . My interests are
            {
              interests.map((interest) => (
                <span class="interests">{interest},&nbsp;</span>
              ))
            } and <span class="interests">{lastInterest}</span>
          </p>
        </section>

        <section>
          <h2>My Projects</h2>
          <Projects />
        </section>

        <section>
          <h2>Things I can do</h2>
          <p>
            I like learning new programming languages, frameworks and tools
            (Currently learning <strong>go</strong>). I have worked with the
            following technologies:
          </p>

          <Technology />
        </section>

        <section>
          <h2>Tools I use</h2>
          <p>Here are some of the tools I use on a daily basis:</p>
          <uL>
            <li>nvim</li>
            <li>tmux</li>
            <li>endeavouros</li>
            <li>i3 window manager</li>
            <li>vimium</li>
            <li>Obsidian</li>
            <li>zsh</li>
            <li>firefox developer edition (for CSS)</li>
            <li>vivaldi (for everything else)</li>
          </uL>
        </section>
      </div>
    </main>
  </div>
</BaseLayout>

<style>
  .mb-auto {
    margin-bottom: auto;
  }
  .interests {
    font-weight: bold;
  }
</style>
