---
const pageTitle = "Rasib Nadeem";
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const identity = {
  firstName: "Rasib",
  country: "Pakistan",
  occupation: "Web Developer",
  company: "nowhere",
  hobbies: ["Reading", "Youtube", "Coding"],
};

const interests = [
  "Web Development",
  "Natural Language Processing",
  "Open Source",
];

const lastInterest = interests.pop();

const technologies = [
  {
    name: "HTML",
    logo: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg",
  },
  {
    name: "CSS",
    logo: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg",
  },
  {
    name: "JavaScript",
    logo: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg",
  },
  {
    name: "React",
    logo: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg?raw=true",
  },
  {
    name: "Next.js",
    logo: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nextjs/nextjs-original.svg",
  },
  {
    name: "Rust",
    logo: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/rust/rust-plain.svg",
  },
  {
    name: "Go",
    logo: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/go/go-original.svg?raw=true",
  },
  {
    name: "Python",
    logo: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg?raw=true",
  },
  {
    name: "LaTeX",
    logo: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/latex/latex-original.svg",
  },
  {
    name: "Linux",
    logo: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linux/linux-original.svg",
  },
  {
    name: "Astro",
    logo: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/astro/astro-original.svg",
  },
  {
    name: "Git",
    logo: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg",
  },
  {
    name: "TypeScript",
    logo: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg",
  },
];
---

<script></script>
<BaseLayout pageTitle={pageTitle}>
  <div class="main-padding">
    <div class="flex items-center flex-col h-screen">
      <h1>{pageTitle}</h1>
      <h3>{identity.occupation} @{identity.company}</h3>
      <main class="mb-auto">
        Welcome to my little corner of the web! I am a 3rd year Computer Science
        student from the Institute of Business Administration (IBA) who is
        passionate about web development and open source. I am interested in
        {
          interests.map((interest) => (
            <span class="interests">{interest},&nbsp;</span>
          ))
        } and <span class="interests">{lastInterest}</span>.

        <h2>Technologies</h2>
        <p>
          I like learning new programming languages, frameworks and tools. I
          have worked with the following technologies:<p>
            <div>
              {
                technologies.map((technology) => (
                  <div class="techcard">
                    <img
                      src={technology.logo}
                      height="40"
                      width="52"
                      alt={technology.name + " logo"}
                    />
                    <div>{technology.name}</div>
                  </div>
                ))
              }
              <Footer />
            </div>
          </p>
        </p>

        <style>
          h1 {
            font-size: 3rem;
          }
          img {
            background-color: white;
            width: 50px;
            border: 2px solid black;
            image-rendering: pixelated;
            object-fit: cover;
            height: 50px;
            border-radius: 100%;
          }
          .mb-auto {
            margin-bottom: auto;
          }

          .techcard {
            display: flex;
            gap: 1rem;
            align-items: center;
          }

          .techcard > div {
            font-weight: bold;
          }

          .h-screen {
            min-height: 90vh;
          }

          .interests {
            font-weight: bold;
          }
          * {
            --hover: rgb(80, 80, 80);
          }

          .technologies {
            color: var(--hover);
            font-weight: bold;
            text-transform: uppercase;
          }
        </style>
      </main>
    </div>
  </div>
</BaseLayout>
