---
import { getCollection } from "astro:content";
import Tags from "../Tags.astro";
const allProjects = await getCollection("projects");
---

<div class="grid">
  {
    allProjects.map((project) => (
      <div class="project-card">
        <div class="project-card-header">
          <a href={"/projects/" + project.slug} class="title">
            {project.data.title}
            <span class="date">
              {project.data.pubDate.toLocaleDateString()}
            </span>
          </a>
          <div class="links">
            <a class="link-button" href={project.data.link}>
              Live
            </a>
            <a class="repo-button" href={project.data.repo}>
              Github
            </a>
          </div>
        </div>
        <p class="date font-mono" />
        <p class="project-card-desc">
          {project.data.description}
          {/* <a href={"/projects/" + project.slug}>Learn more</a>*/}
        </p>
        <br />
        <div class="tags">
          <Tags tags={project.data.tags} nolink={true} />
        </div>
      </div>
    ))
  }
</div>
<style>
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 12px;
    align-items: stretch;
    padding-bottom: 6px;
  }

  @media screen and (min-width: 1024px) {
    .grid {
      margin: 0 36px;
    }
  }

  .project-card-desc {
    padding: 4px 8px;
    font-size: 18px;
    margin-bottom: auto;
  }

  .links {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    flex-wrap: wrap;
  }

  .title,
  .link-button,
  .repo-button {
    text-align: center;
    padding: 4px 8px;
    text-transform: uppercase;
    font-size: 16px;
    color: var(--ui-color-dark);
    border-radius: 4px;
    text-decoration: none;
  }

  .title {
    text-transform: none;
    font-weight: 600;
  }

  .title:hover,
  .link-button:hover,
  .repo-button:hover {
    text-decoration: none;
    background-color: var(--red-300);
  }

  :global(.dark) .title:hover,
  :global(.dark) .link-button:hover,
  :global(.dark) .repo-button:hover {
    background-color: var(--red-700);
  }

  .date {
    margin-left: 4px;
    font-size: 12px;
  }
  .project-card-header {
    background-color: var(--red-200);
    display: flex;
    justify-content: space-between;
    padding: 4px 12px;
  }

  :global(.dark) .project-card-header {
    background-color: var(--red-950);
  }

  .project-card {
    box-shadow: 0 1px 2px var(--red-300);
    display: flex;
    margin-bottom: 18px;
    background-color: var(--red-100);
    flex-direction: column;
  }

  :global(.dark) .project-card {
    box-shadow: 0 1px 2px var(--red-700);
    background-color: var(--background-color);
  }

  .tags {
    margin: 0.5rem 0.3rem 0 0.3rem;
    display: flex;
  }

  p {
    margin: 0.3rem 0.6rem;
  }

  section > h2 {
    color: var(--red-700);
  }
</style>
