---
import { getCollection } from "astro:content";
import Tags from "../Tags.astro";
const allProjects = await getCollection("projects");
---

<div class="project-main">
  {
    allProjects.map((project) => (
      <div class="project-card">
        <div class="project-card-header flex justify-between">
          <div>
            <a href={project.data.link}>{project.data.title}</a>
          </div>
          <div>
            <a href={project.data.repo}>Repo</a>
          </div>
        </div>
        <div class="input">
          <p>{project.data.description}</p>
          <a href={"/projects/" + project.slug}>Learn more</a>
          <p>Created: {project.data.pubDate.toLocaleDateString()}</p>
          <Tags tags={project.data.tags} nolink={true} />
        </div>
      </div>
    ))
  }
</div>

<style>
  .project-card > div {
    padding: 0px 24px;
  }

  .input {
    padding: 0px 10px;
  }

  .project-card {
    margin-bottom: 1.0rem;
    color: var(--text-color);
    border: 3px solid var(--layout-color);
    border-radius: 10px;
  }

  .project-card-header {
    background-color: var(--nav-color);
    color: var(--text-color);
    border-radius: inherit;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: 3px solid var(--layout-color);
  }
</style>
