---
import { getCollection } from "astro:content";
import Tags from "../Tags.astro";
const allProjects = await getCollection("projects");
---

<div class="project-main">
  {
    allProjects.map((project) => (
      <div class="project-card">
        <div class="project-card-header flex justify-between">
          <a href={project.data.link}>{project.data.title}</a>
          <a href={project.data.repo}>Repo</a>
        </div>
        <div class="project-card-text">
          <p class="date">
            Created: {project.data.pubDate.toLocaleDateString()}
          </p>
          <p>{project.data.description}</p>
          <Tags tags={project.data.tags} nolink={true} />
          {/*<a href={"/projects/" + project.slug}>Learn more</a> */}
        </div>
      </div>
    ))
  }
</div>

<style>
  .project-card-text {
    padding-inline: 1rem;
  }

  .project-card-text > .date {
    font-family: 300;
    font-size: 12px;
  }

  p {
    margin: 0.2rem;
  }

  .project-card {
    margin-bottom: 1rem;
    color: var(--text-color);
    border: 3px solid var(--layout-color);
    border-radius: 10px;
  }

  .project-card-header {
    background-color: var(--nav-color);
    color: var(--text-color);
    padding: 0px 24px;
    border-radius: inherit;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: 3px solid var(--layout-color);
  }
</style>
