---
import { getCollection } from "astro:content";
import Tags from "../Tags.astro";
const allProjects = await getCollection("projects");
---

<div class="grid">
  {
    allProjects.map((project) => (
      <div class="project-card">
        <div class="project-card-header">
          <div class="title">{project.data.title}</div>
          <div class="links">
            <a class="link-button" href={project.data.link}>
              Live
            </a>
            <a class="repo-button" href={project.data.repo}>
              Github
            </a>
          </div>
        </div>
        <p class="date">Created: {project.data.pubDate.toLocaleDateString()}</p>
        <p class="project-card-desc">{project.data.description}</p>
        <Tags tags={project.data.tags} nolink={true} />
        {/*<a href={"/projects/" + project.slug}>Learn more</a> */}
      </div>
    ))
  }
</div>
<style>
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    align-items: stretch;
  }
  .title {
    margin: 0px;
    font-weight: 700;
    font-family: monospace;
    font-size: 1.1rem;
  }

  .project-card-desc {
    margin-bottom: auto;
  }

  .links {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    flex-wrap: wrap;
  }

  .link-button,
  .repo-button {
    padding: 0.3rem 0.5rem;
    border-radius: 5px;
    background-color: var(--button-color);
    color: var(--background-color);
    text-decoration: none;
    white-space: nowrap;
    font-size: 0.8rem;
  }

  .link-button:hover,
  .repo-button:hover {
    background-color: var(--button-hover);
    color: var(--background-color);
    text-decoration: none;
  }

  .date {
    font-family: 300;
    font-size: 12px;
  }

  p {
    margin: 0.3rem 0.6rem;
  }

  .project-card {
    margin-bottom: 1rem;
    color: var(--text-color);
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    border: 1px solid var(--ui-color);
  }

  .project-card-header {
    /* background-color: var(--ui-color); */
    background-color: var(--ui-color);
    display: flex;
    justify-content: space-between;
    color: var(--text-color);
    padding: 0.5rem 12px;
  }
</style>
