---
import Header from "../components/Header.astro";
const { pageTitle, titleFont } = Astro.props;
import Footer from "../components/Footer.astro";
import "../styles/global.css";

const newFont = titleFont || "";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Home to my awesome portfolio and blog where I talk about stuff I like (hire me pls),"
    />
    <title>{pageTitle}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <Header />
    <div class="flex items-center flex-col">
      <main class="max-width flex items-center flex-col">
        {
          newFont ? (
            <h1 style={`font-family: ${newFont};`}>{pageTitle}</h1>
          ) : (
            <h1>{pageTitle}</h1>
          )
        }
        <slot />
        <Footer />
      </main>
    </div>
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>
