---
const { pageTitle, titleFont } = Astro.props;
import Footer from "../components/layoutComponents/Footer.astro";
import "../styles/global.css";
import BaseLayout from "./BaseLayout.astro";

const newFont = titleFont || "";
---

<BaseLayout pageTitle={pageTitle}>
      <main class="mb-auto flex flex-col items-center h-screen">
        <div class="main-content-padding">
        {(
          newFont ? (
            <h1 style={`font-family: ${newFont};`}>{pageTitle}</h1>
            ) : (
              <h1 style={`font-family: ${newFont};`}>{pageTitle}</h1>
          ))
        }
        <slot />
        </div>
      </main>
    </div>
  </BaseLayout>
  
<style>
  .mb-auto {
    margin-bottom: auto;
  }
  </style>
